<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <style>
        body{
            overflow-x: hidden;
        }
    </style>
</head>

<body>
<div class="sticky-top">
<div class="container">
    <div class="row">
        <div class="col-4" style="float: left;">
            <h1>Company Name</h1>
         </div>
        <div class="col-4">
            <form class="d-flex">
                <input class="form-control me-2" type="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><img src="pic10.png" alt="" style="height: 30px; width: 30px;"></button>
              </form>
            </div>
        <div class="col-4" style="float: right;"> 
            <img src="pic11.png" alt="" style="height: 30px; width: 30px;">
            <img src="pic12.png" alt="" style="height: 30px; width: 30px;">
            <a href="">welcom! <br>
            Sign in|Register</a>
        </div>
    </div>

   </div>
    <nav class="navbar navbar-expand-lg text-center sticky-top" style="background-color: blue;margin-top:20px ;">
        <div class="container">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#"
                            style="color: white;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" style="color: white;">
                            SuperMarket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" style="color: white;">
                           BabyToys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#"
                            style="color: white;">partnership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#" style="color: white;">
                            fitnesSport</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#"
                            style="color: white;">Clothing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" style="color: white;">
                            Furniture</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                           More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">A</a></li>
                            <li><a class="dropdown-item" href="#">B</a></li>
                            <li><a class="dropdown-item" href="#">C</a></li>
                            <li><a class="dropdown-item" href="#">D</a></li>
                        </ul>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" style="color: white; background-color: white;">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</div>
    <div class="container-fluid">
        <div class="row" style="background-color: brown;">
            <div class="col-md-6 col-lg-6 col-sm-12" style="height: 350px; width: 300px; background-color: white; margin: 4%;">
                <p>
                    Best Cloth
                </p>
                <hr>
                <p>
                    Automobiles
                </p>
                <p>
                    Home interior
                </p>
                <hr>
                <p>
                    Electronics
                </p>
                <p>
                    Tecnologies
                </p>
                <hr>
                <p>
                    Digital Goods
                </p>
                <hr>
                <p>
                    More Items
                </p>
                <hr>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12"style="background-image: url(pic1.jpeg); background-repeat: no-repeat; background-size: contain; height: 400px; width: 800px; margin: 3%; padding: 35;">
                <div style=" text-align: center; margin: 14% 49% 2% 4%;">
                    <h1>
                        GRATE BANNER
                    </h1>
                    <h4>
                        Hey I am demo bannar just for design
                    </h4>
                </div>
            </div>
        </div>
        <br>
        <h1>Popular Products</h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card" style="margin: 3%;">
                        <div>
                            <img src="pic2.jpeg" alt="" style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;" >
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card"  style="margin: 3%;">
                        <div>
                            <img src="pic3.jpeg" alt=""  style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;">
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card"  style="margin: 3%;">
                        <div>
                            <img src="pic4.jpeg" alt=""  style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;">
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card"  style="margin: 3%;">
                        <div>
                            <img src="pic5.jpeg" alt=""  style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;">
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card"  style="margin: 3%;">
                        <div>
                            <img src="pic6.jpeg" alt=""  style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;">
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card"  style="margin: 3%;">
                        <div>
                            <img src="pic7.jpeg" alt=""  style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;">
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card"  style="margin: 3%;">
                        <div>
                            <img src="pic8.jpeg" alt=""  style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;">
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="card"  style="margin: 3%;">
                        <div>
                            <img src="pic9.jpeg" alt=""  style="margin: 2%;">
                        </div>
                        <div  style="margin: 2%;">
                           <p>
                            just another product name
                            <h4>$179.00</h4>
                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
            <footer>
                <div class="container-fluid bg-primary">
                    <div class="row" style="padding: 12px;">
                        <div class="col-lg-6 col-md-6 col-sm-12" >
                               <b> Lorem ipsum dolor sit amet</b> <br>
                               <p style="margin: 3%;">
                                adipisicing elit. Exercitationem ipsam est nesciunt 
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" >
                            <div>
                                <img src="pic18.png" alt="" style="height:30px ; width: 30px; display: inline;">
                                <p>Lorem ipsum dolor sit.</p>
                                <b>Apple Store</b>
                            </div>
                            <div>
                                <img src="pic18.png" alt="" style="height:30px ; width: 30px; display: inline;">
                                <p >Lorem ipsum dolor sit.</p>
                                <b>Apple Store</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <p>
                            <b>Brand </b><br>
                            Lorem <br>
                            ipsum <br>
                            dolor <br>
                            sit <br>
                        </p>

                      </div>
                      <div class="col-lg-3 col-sm-6">
                        <p>
                            <b>Brand </b><br>
                            Lorem <br>
                            ipsum <br>
                            dolor <br>
                            sit <br>
                        </p>

                      </div>
                      <div class="col-lg-3 col-sm-6">
                        <p>
                            <b>Brand </b><br>
                            Lorem <br>
                            ipsum <br>
                            dolor <br>
                            sit <br>
                        </p>

                      </div>
                      <div class="col-lg-3 col-sm-6">
                        <p>
                            <b>Brand </b><br>
                            Lorem <br>
                            ipsum <br>
                            dolor <br>
                            sit <br>
                        </p>

                      </div>
                      <div class="col-lg-3 col-sm-6">
                        <b>socal</b> <br>
                        <img src="pic13.jpeg" alt="" style="height: 40px; width: 40px;"><br>
                        <img src="pic14.jpeg" alt="" style="height: 40px; width: 40px;"><br>
                        <img src="pic14.jpeg" alt="" style="height: 40px; width: 40px;"><br>
                        <img src="pic16.png" alt="" style="height: 40px; width: 40px;"><br>
                      </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="bootstrap.bundle.min.js"></script>
</body>

</html>